/* 
    Document   : style
    Created on : Jan 29, 2014, 2:44:59 AM
    Author     : nrat
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
.navbar-container{
    background: blue;
    border-radius: 10px 10px 0 0;
    margin-left: 0;
    padding-top:0!important;
}
body {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #EDEEF0;
}
.navbar {
    margin-bottom: 20px !important;
}
.alert-grey,label{
    color: #00000;
    background-color: #ffffff;
    border-color: #DCDCDC;
    border-radius: 10px;
}
label{
    overflow-x: hidden;
}
.table th, .table td { 
    border-top: none !important; 
}
label{
    color:#D2D2D2;
    display: inline-block;
    margin: 0 2% 0 0;
    vertical-align: top;
    width: 40%;
    font-weight: normal;
}
.left{
    float:right !important;
    padding-right: 32px !important;
}

li,ul {
    list-style: none outside none;
    padding: 0;
}
ul div {
    margin: 10px;
}
.glyphicon-arrow-left{
    color: #ffffff;
}
.glyphicon-bell{
    color: #006394;
}
.container-nav{
    background-color: black;
    padding-top: 0!important;
}
